=button($color: $buttons)
  background: $color
  border-radius: $round-border-radius
  border: 1px solid darken($color, 3%)
  color: $background-color
  cursor: pointer
  display: inline-block
  font-family: $headers
  font-size: 1.1em
  letter-spacing: $letter-spacing
  margin: $little-space 0
  padding: $little-space $med-space
  text-transform: uppercase
  transition: all $base-duration $base-timing

  a
    color: rgba($background-color, 1)

  &:hover
    opacity: 0.7

  &:active
    background: darken($color, 15%)

  &:disabled
    cursor: not-allowed
    opacity: 0.5

  &:focus
    outline: none

button,
input[type="submit"],
summary
  +button

