@each $flash-type, $color in $flashes
  .flashes
    border-radius: $base-border-radius
    width: 100%
    padding: $med-space

  .flash-#{$flash-type}
    background-color: $color
    color: darken($color, 40%)
    padding: $med-space
    text-align: center
    z-index: 1

    a
      color: darken($color, 60%)
      text-decoration: underline

      &:focus,
      &:hover
        color: darken($color, 80%)

